<html>
  <head>
        <h1>Login</h1>
        <link rel="stylesheet" type="text/css" href="styles.css">
	<title>Employee Login Form</title>
	<script type="text/javascript" src="./loginScripts.js"></script>
  </head>
  <body>
	<form id='loginForm' action="/login" method="post">
		<!-- user input-->
		Employee ID:<br>
		<input type="text" name="emp_id" placeholder="Employee ID" required><br><br>
		Password:<br>
		<input type="password" name="password" placeholder="Password" required><br><br>
		<!-- submit button -->
		<input type="submit" value="login">
	  </form>
	  
<div id="res"></div>

  </body>
</html>